body { font-family: Georgia, serif }

p    		{ text-indent:0.25in; margin-top: 0pt; margin-bottom: 0pt }
h1, h2, h3, h4	{ text-align: center; font-weight: bold }
h5, h6		{ font-weight: normal; font-style: italic; text-align: left }
h1		{ font-size: x-large; margin-top: 18pt; margin-bottom:12pt }
h2		{ font-size: large; margin-top: 12pt; margin-bottom:12pt }
h3		{ font-size: medium; margin-top: 9pt; margin-bottom:9pt }
h4		{ font-size: small; margin-top: 6pt; margin-bottom:6pt }
h5		{ margin-top: 6pt; margin-bottom:6pt }
h6		{ margin-top: 6pt; margin-bottom:6pt }
address		{ font-style: italic }
sup		{ vertical-align: text-top; font-size: x-small }
sup.v		{ line-height:1.0 }
big		{ font-size: larger }
small		{ font-size: smaller }
blockquote	{ margin-left:0.5in; margin-right:0.5in; margin-top: 12pt;
		  margin-bottom:12pt }
.blockquote	{ margin-left:0.5in; margin-right:0.5in; text-indent:0in; 
		  margin-top:12pt }

a.TOC		{ text-decoration: none }
a.TOC:hover	{ text-decoration: underline }
a.Note		{ text-decoration: none }
a.Note:hover	{ text-decoration: underline }
a.scripRef	{ text-decoration: none }
a.scripRef:link { color:#E00000 }
a.scripRef:hover { text-decoration: underline }
a.scripRef:visited { color:#800000 }
p.First 	{ text-indent: 0.0in }
p.First:first-letter {font-size: 270%; float: left; margin-top: -10px; }
p.dropcap	{ text-indent: 0in }
p.dropcap:first-letter {font-size:200%; float:left }
p.smallcap	{ text-indent: 0in }
p.smallcap:first-letter	{ font-size:200% }
.sc		{ font-variant: small-caps }

p.Continue	{ text-indent: 0in }
p.ChapterSummary {text-align: center; font-style: italic }
p.Attribution 	{ text-align: right }
p.Argument	{ text-align: center; font-style: italic }
p.meter		{ text-align: right; margin-top: -12pt }
p.SectionInfo 	{ margin-left: 1.0in; text-indent: -0.5in;
		  margin-right: 0.5in; font-style: italic }
p.footnote	{ text-indent:0.25in }
p.endnote	{ text-indent:0.35in }
.pagebreak	{ page-break-before:always }
sup.Note	{ font-size: 65%; vertical-align:35% }
sup.NoteRef	{ font-size: 65%; vertical-align:35% }
div.Note	{ font-size: 88%; text-indent: 0.35in }
div.offer	{ margin-top:6pt; }
p.noteMark	{ text-indent:0in; margin-bottom:-12pt }
p.pages		{ text-indent:0in; font-size:smaller }

.List1, .List2, .List3, .List4, .List5, .List6, .List7
		{ text-indent: -0.25in; margin-right: 0.25in }
.List1		{ margin-left: 0.5in }
.List2		{ margin-left: 0.75in }
.List3		{ margin-left: 1.0in }
.List4		{ margin-left: 1.25in }
.List5		{ margin-left: 1.5in }
.List6		{ margin-left: 1.75in }
.List7		{ margin-left: 2.0in }
.ListCont1, .ListCont2, .ListCont3, .ListCont4, .ListCont5, .ListCont6
		{ text-indent: 0in; margin-right: 0.5in }
.ListCont1	{ margin-left: 0.5in }
.ListCont2	{ margin-left: 0.75in }
.ListCont3	{ margin-left: 1.0in }
.ListCont4	{ margin-left: 1.25in }
.ListCont5	{ margin-left: 1.5in }
.ListCont6	{ margin-left: 1.75in }

div.Verse	{ margin-top: 12pt; margin-left: 1.25in; margin-right: 0.5in;
		  display:block}
div.verse2	{ width:80%; margin-left:10%; text-align:center; margin-top:6pt; margin-bottom:6pt }
.t0		{ margin-left:5em; text-indent:-5em }
.t1, .t		{ margin-left:5em; text-indent:-4em }
.t2		{ margin-left:5em; text-indent:-3em }
.t3		{ margin-left:5em; text-indent:-2em }
.t4		{ margin-left:5em; text-indent:-1em }
.t5		{ margin-left:5em }

.TOC1, .TOC2, .TOC3, .TOC4 {text-indent: -0.3in; text-align: left }
.TOC1		{ margin-left: 0.3in; font-weight: bold; 
		 font-size: 110%; margin-top: 4pt }
.TOC2		{ margin-left: 0.6in; font-size: 100%; margin-top: 3pt }
.TOC3		{ margin-left: 0.9in; font-size: 90%; margin-top: 2pt }
.TOC4		{ margin-left: 1.2in; font-size: 90%; margin-top: 1pt }
.TOC5		{ margin-left: 1.5in; font-size: 90%; margin-top: 0pt }
.TOC6		{ margin-left: 1.8in; font-size: 90%; margin-top: 0pt }

.Center, .Centered 	{ text-indent:0in; text-align:center }
span.Italic	{ font-style:italic }
span.Bold	{ font-weight:bold }
span.Sub	{ vertical-align:sub }
span.Super	{ vertical-align:super }
.left		{ text-align:left }

ul.Index1	{ font-weight: bold }
ul.Index2	{ font-weight: normal }
p.index1, p.index2, p.index3, p.index4 { text-indent:-2em; margin-top:0in }
p.index1	{ margin-left:2em }
p.index2	{ margin-left:3em }
p.index3	{ margin-left:4em }
p.index4	{ margin-left:5em }

p.bbook		{ text-indent:0in; font-weight: bold; text-align: center }
p.bref		{ text-indent:0in; text-align: center }
p.by		{ text-indent:0in; text-align: center; font-size:medium; 
		  margin-top: 12pt }

table.marg 	{ position:absolute; left:0.1in; padding-left:1pt }
table		{ width: 100%; }
td p		{ text-indent: 0in }
p.thin		{ font-size:1pt; margin-top: 0pt }
.page		{ text-indent:0in; font-family: Arial, Helvetica, sans-serif; 
		  font-size:xx-small; color:#FFFFFF }
.chap		{ float:left; font-size:200% }
span.Note 	{ color: blue }

hr.W30		{ width: 30% }
hr.Note		{ text-align: left; width: 30% }
img.page	{ margin-left: -0.5in }

p.bib		{ margin-left: 0.5in; text-indent: -0.25in; font-size: x-small }

.mnote		{ font-size:smaller; 
		  margin-top:0pt; background-color:#FFFFB0; 
		  text-indent:0in }

.argument	{ text-align: center; font-style: italic; text-indent:0in; 
                  margin-bottom:12pt }
.arg		{ margin-top:6pt; margin-bottom:6pt; text-indent:0in; 
		  font-style:italic; text-align:center }
.attr	 	{ text-align: right }
.meter		{ text-align: right; margin-top: -12pt }
span.unclear	{ color: #808080 }
span.Greek	{ font-style: italic }
span.Hebrew	{ font-style: italic }

div.footer { position: absolute; bottom: 8px; font-size: smaller; width: 100%; text-align: center; }
